# Node
node_modules/

# Environment
.env
.env.*

# Logs
logs
*.log

# macOS
.DS_Store

# Build
dist/
build/

# Python
__pycache__/
*.pyc
.venv/

# IDE
.vscode/settings.json

# Coverage
coverage/

# Prisma
prisma/dev.db

# Docker
docker-data/